#latest-work {
  min-height: 100vh;
  width: 100vw;
  padding-right: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  background: linear-gradient(
    0deg,
    rgba(44, 40, 40, 1) 20%,
    rgba(91, 156, 169, 1) 100%
  );
  transition: 0.5s;
}
.works_container {
  display: flex;
  width: 99vw;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}
.slider {
  display: flex;
}
